[Unit]
Description=CLyman Object Tracking Service

[Service]
User=clyman
Group=clyman
ExecStart=/usr/local/bin/clyman -consul-addr=localhost:8500 -config-file=/etc/clyman/app.properties -log-conf=/etc/clyman/log4cpp.properties
ExecStop=python /usr/local/bin/stop_clyman.py /etc/clyman/app.properties

[Install]
WantedBy=multi-user.target
