[Unit]
Description=Crazy Ivan Scene Tracking Service

[Service]
User=clyman
Group=clyman
ExecStart=/usr/local/bin/clyman_controller.sh start
ExecStop=/usr/local/bin/clyman_controller.sh stop

[Install]
WantedBy=multi-user.target
