[Unit]
Description=CLyman Object Tracking Service

[Service]
Environment=CLYMAN_CONSUL_ADDR=localhost:8500
Environment=CLYMAN_CONF_FILE=/etc/clyman/app.properties
Environment=CLYMAN_LOG_CONF=/etc/clyman/log4cpp.properties
User=clyman
Group=clyman
ExecStart=/usr/local/bin/clyman -consul-addr=$CLYMAN_CONSUL_ADDR -conf-file=$CLYMAN_CONF_FILE -log-conf=$CLYMAN_LOG_CONF
ExecEnd=python /usr/local/bin/stop_clyman.py $CLYMAN_CONF_FILE

[Install]
WantedBy=multi-user.target
